version : "3.8"

services :

  mysql:
     image : mysql:8.0
     container_name: local_mysql
     environment: 
         MYSQL_ROOT_PASSWORD: root
         MYSQL_DATABASE: etl_db
         MYSQL_USER: etl_user
         MYSQL_PASSWORD: etl_password
     ports:
        - "3308:3306"
     volumes:
        - mysql_data:/var/lib/mysql

  minio:
     image : minio/minio
     container_name: local_minio
     environment :
         MINIO_ROOT_USER: minioadmin
         MINIO_ROOT_PASSWORD: minioadmin

     ports:
        - "9000:9000"
        - "9001:9001"    
     command: server /data --console-address ":9001"
     volumes:
        - minio_data:/data   

  etl:
     build : .
     container_name: etl_container
     environment:
          DB_HOST: mysql
          DB_PORT: 3306
          DB_USER: etl_user
          DB_PASSWORD: etl_password
          DB_NAME: etl_db
          S3_ENDPOINT: minio:9000
          S3_ACCESS_KEY: minioadmin
          S3_SECRET_KEY: minioadmin

     volumes:
        - ./src:/app/src  
        - ./tests:/app/tests

volumes:
  mysql_data:
  minio_data:
